@page
@model ShoppingWebsite.Pages.ProductsManagement.AddProductConfirmationModel
@{
    ViewData["Title"] = "AddProductConfirmation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>AddProductConfirmation</h1>
<h3>محصول با موفقیت افزوده شد</h3>
<h3><a class="btn btn-primary" asp-page="/ProductsManagement/AddProduct">افزودن دیگر کالاها</a></h3>

