@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="changePassword.CurrentPassword"></label>
                <input asp-for="changePassword.CurrentPassword" class="form-control" />
                <span asp-validation-for="changePassword.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="changePassword.NewPassword"></label>
                <input asp-for="changePassword.NewPassword" class="form-control" />
                <span asp-validation-for="changePassword.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="changePassword.ConfirmPassword"></label>
                <input asp-for="changePassword.ConfirmPassword" class="form-control" />
                <span asp-validation-for="changePassword.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>


