@page
@model ChangePasswordConfirmationModel
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>
    Your password is changed successfully.
</h4>

